[submodule "externals/sfml/SFML"]
	path = externals/sfml/SFML
	url = https://github.com/SFML/SFML.git
	ignore = dirty
[submodule "externals/Json/json"]
	path = externals/Json/json
	url = git@github.com:nlohmann/json.git
	ignore = dirty
